:root{
    --bg-color: #090a0a;
    --text-color: rgb(231, 230, 230);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: relative;
}

#index2{
    height: 100vh;
}

.background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: white; /* Colore del testo */
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(5px);
    height: 100vh;
}

.pulse-ring {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 250%;
    height: 200%;
    background: rgba(1, 146, 44, 0.418);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite;
}

.content-aboutme{
    position: relative;
    z-index: 1;
    color: white; /* Colore del testo */
    text-align: center;
    padding: 20px;
    height: 100%;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}

section{
    background-color: #1f2937b2;
    height: 100%;
    width: 100%;
}

.section-left-side{
    width: 50%;
    float: left;

}

.socials>a>svg:hover{
    transform: translateY(-5px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
} 


hr{
    border: 1px solid #06D6A0;
}

.section-right-side{
    width: 50%;
    float: left;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spaziatura tra le card, opzionale */
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #090a0a6c;
    width: 20%;
}

.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card>p{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

button.button-CV {
    background-color: none;
    border: 1px solid rgb(155, 155, 155);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 20%;
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  button.button-CV>svg{
      margin-left: 5px;
      margin-bottom: 3px;
      cursor: pointer;
  }

  button.button-CV:hover{
      background-color: #06d69e91;
      transition: all 0.2s ease-in-out;
      transform: scale(0.95);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }

  button.button-CV:active{
      background-color: #06d69e91;
      transition: all 0.2s ease-in-out;
      transform: scale(0.9);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);    
      cursor: pointer;
  }
  
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #1f2937b2;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(31, 31, 31);
}

::-webkit-scrollbar-thumb {
    background-color: #06D6A0;
    border-radius: 10px;
}


#instagram:hover path {
    fill: url(#gradient);
}

#facebook:hover{
    fill: #0866FF;
}

#linkedin:hover{
    fill: #0A66C2;
}


/*! MEDIA QUERIES*/

@media screen and (max-width: 768px) {

#mobile{
    flex-direction: column;
}

.section-left-side{
    width: 100%!important;
}

.section-left-side>h1{
    text-align: center!important;
    width: 100%!important;
}

.section-left-side>ul>li{
    width: 100%!important;
    font-size: 18px;
}

.section-left-side>ul{
    width: 100%!important;
}



.section-right-side{
    width: 100%!important;
    margin-top: 15px;
}

.section-right-side>h1{
    text-align: center!important;
    width: 100%!important;
}

.card-container{
    width: 100%!important;
    flex-wrap: wrap;
}

.card{
    width: 45%!important;
}

.card>p{
    font-size: 10px;
}

button.button-CV{
    width: 100%!important;
    text-align: center!important;
}

#skills{
    flex-direction: column;
}

#skills>.section-left-side{
    width: 100%!important;
    margin-right: 0px!important;
}

#contact-form{
    width: 90%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-items: center!important;
    align-items: center!important;
}

#contact-form>button{
    text-align: center!important;
    width: 100%!important;
    display: block!important;
}



footer>div{
    border-radius: 0px!important;
}

#aboutme{
    text-align: center!important;
}

}
